<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="syahrulgunawan.roketup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Wellcome"
            android:theme="@style/AppThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".Register"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".MainActivity"
            android:label="RoketUp"
            android:theme="@style/AppTheme.Base" />
        <activity android:name=".GPS" />
        <activity
            android:name=".Join"
            android:label="Join With Us"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".Web"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>